<!DOCTYPE html>

<html>
  <head>
    <title>Witty Title
    </title>
    <script src="demo_copy_profile.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <img src="{{ top_url }}">
  </head>


  <body>
    <div id=links>
      <button type="button"><a href="http://twitter.com/thekatie121">twitter</a>
      </button>
      <button type="button"><a href="https://www.facebook.com/katie.gruenhagen.9">facebook</a>
      </button>
      <button type="button"><a href="http://pens-are-harpoons.tumblr.com">actual tumblr</a>
      </button>
    </div>
    <div id=sidebar>
      <h1>Katie Gruenhagen</h1>

      <div id=pic>
        <img src="Me SC.jpg" width=300px>
      </div>

      <div class="info" id="bio"> I'm in a band and I play drums. I like to think
      I'm punk rock but I really just listen to ukelele music and watch
      too much Netflix.

      <br><div id=clicky><button type="button"><a href="http://www.staticcadets.bandcamp.com">
      Listen to our lame EP</a></button></div></br>
      </div>
      </div>
    </div>



<div id=posts>
    <h2>College</h2>
      <p><strong>Harvey Mudd College!!!!!</strong></p>

    <h2>Favorite Bands</h2>
      <p>
        <ul>
        <li><a href="http://www.twentyonepilots.com">twenty one pilots</a></li>
        <li><a href="http://www.twentyonepilots.com">twenty one pilots</a></li>
        <li><a href="http://www.twentyonepilots.com">twenty one pilots</a></li>
        <li><a href="http://www.twentyonepilots.com">twenty one pilots</a></li>
        <li><a href="http://www.twentyonepilots.com">twenty one pilots</a></li>
        <li><a href="http://www.twentyonepilots.com">twenty one pilots</a></li>
        </ul>
      </p>


      <h2>Musical Experience</h2>
      <ol>
        <li>We Got The Beat</li>
        <li>Static Cadets</li>
        <li>Buchanan Jazz Band A</li>
        <li>LITERALLY EVERY BAND AT
          <a href="http://www.bhs.cusd.com">BUCHANAN HIGH SCHOOL</a></li>
          <ul>
            <li>IF YOU CAN THINK OF A BAND AT BUCHANAN
              KATIE WAS PROBABLY IN IT</li>
          </ul>
      </ol>

    <h2>Want to stalk me on the internet?</h2>

    <a href="https://twitter.com/thekatie121">
      Okay then...</a>

    <h2>Why does your page look like tumblr?</h2>
      <p>I spend a lot of my time on tumblr</p>
    <h2>Tumblr is dumb</h2>
      <p>I agree but it's a great way to procrastinate</p>
    <h2>How do you pronounce your last name?</h2>
      <p>Just start sneezing, you'll probably get pretty close</p>
    <h2>Why have you included so many questions?</h2>
      <p>Why are you asking?</p>
    <h2>No, seriously.</h2>
      <p>It's my inner sarcastic monologue making an appearance</p>
    <h2>Here's a picture of a cute puppy!</h2>
      <p><img src="cute puppy.jpg"></p>
    <h2>Don't like puppies? Here's a kitten</h2>
      <p><img src="https://shechive.files.wordpress.com/2011/02/cute-kitten-23.jpg"></p>


  </body>


</div>


</html>
