<!DOCTYPE html>
<html>
<head>
</head>


<body>
  <h1>The Story of a Band</h1>
  <p>Enter your responses</p>
  <form action="/response" method="POST">
    <input type="text" name="name1">Name 1</input>
    <input type="text" name="name2">Name 2</input>
    <input type="text" name="name3">Name 3</input>
    <input type="text" name="socialmedia">Name of social media</input>
    <input type="text" name="instrument1">Instrument 1</input>
    <input type="text" name="instrument2">Instrument 2</input>
    <input type="text" name="instrument3">Instrument 3</input>
    <input type="text" name="number">Number</input>
    <input type="text" name="holiday">Holiday</input>
    <input type="text" name="adjective1">Adjective</input>
    <input type="text" name="pluralnoun1">Plural Noun</input>
    <input type="text" name="songname1">Song Name 1</input>
    <input type="text" name="artist1">Musical Artist 1</input>
    <input type="text" name="songname2">Song Name 1</input>
    <input type="text" name="artist2">Musical Artist 2</input>
    <button type="submit" value="submit">To the story!</button>

</body>



</html>
