<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>


<body>

<h1>The story of a band</h1>

<p>Once upon a time, there were three friends: {{name1}}, {{name2}}, and {{name3}}.
  The three friends wanted to be in a band so they formed it on {{socialmedia}}.
  In the band, {{name1}} played {{instrument1}}, {{name2}} played {{instrument2}}, and
  {{name3}} played {{instrument3}}. The friends practiced for {{number}} months
  before getting their first gig at a {{holiday}} party. The day before the gig,
  they realized they needed a name for the band. {{name1}} suggested the word
  "{{adjective1}}" and {{name2}} suggested "{{pluralnoun1}}." At the gig,
  they played the only two songs they knew, {{songname1}} by {{artist1}}
  and {{songname2}} by {{artist2}}. The crowd loved them. Thus, the band was born.
</p>




<img src = "http://a2.mzstatic.com/us/r30/Purple5/v4/16/b5/18/16b518d4-
69e6-763a-3376-1c3430d1e2c0/icon128-2x.png">






</body>






</html>
